.comments ul li:nth-child(odd) {
    background: #8119e3;
}

.comments ul li:nth-child(odd) ::selection {
    background: #2f1290;
}

.comments ul li:nth-child(even) {
    background: #2f1290;
}

.comments ul li:nth-child(even) ::selection {
     background: #8119e3;
 }

.comments ul li .comment {
    padding: 10px;
}


input[type="button"] {
    background: #8119e3;
}

.post-comment .field textarea {
    resize: none !important;
    min-height: 100px !important;
    max-height: max-content !important;
}

.post-comment .field textarea:focus {
    border: 1px solid #8119e3 !important;
}
